<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title | text | trim %}{% endblock title %}</title>
</head>
<body>
  {% block body %}
    <p>This is the default body.</p>
  {% endblock body %}

  {% block footer | trim | text %}
    * Default List<br/>
      * Won't get converted into HTML
  {% endblock footer %}
</body>
</html>
